# Python / Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.cache/
backend/bin/

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.DS_Store

# Datos sensibles y temporales
.env
downloads/
temp_zips/
venv/
*.zip

# Otros
.vscode/
.idea/
*.log
.DS_Store
